

.abs {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}
.card-columns{
    margin-top: 300px;
}
  
img {
    width: 350px;
    height:220px;
}
img{
    transition:all 0.7s; 
}
img:hover{
    transform: scale(1.04);
     
}
body {
    padding: 20px;
}